<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Untitle{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <script>
        var message = "{{ message }}";
        if (message) {
            alert(message);
        }
    </script>
    <header>
        <h1><a href="/">App</a></h1>
        <nav>
            <ul>
                {% if username %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>