{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <main class="main-content">
        <div class="post-input">
            {% if username %}
                <textarea placeholder="Welcome aboard {{username}}! What do you want to share today?" rows="3"></textarea>
            {% else  %}
                <textarea placeholder="What is happening?! Login to make posts." rows="3"></textarea>
            {% endif %}
            <button>Post</button>
        </div>
        <div class="post-feed">
            <div class="post">
                <div class="post-header">
                    <h3>Jesse Hartloff</h3>
                    <span>@jessehartloff · 1d</span>
                </div>
                <p>This is a sample post.</p>
                <button class="like-button" liked="false">
                    <span class="material-icons">thumb_up_off_alt</span>
                </button>
            </div>
            <div class="post">
                <div class="post-header">
                    <h3>Paul Dickson</h3>
                    <span>@pauldickson · 2d</span>
                </div>
                <p>This is another sample post.</p>
                <button class="like-button" liked="false">
                    <span class="material-icons">thumb_up_off_alt</span>
                </button>
            </div>
            <div class="post">
                <div class="post-header">
                    <h3>Zijun Wei</h3>
                    <span>@zijunwei · 4d</span>
                </div>
                <p>This is a sample post of Image.</p>
                <div class="center">
                    <img src="/static/images/flower.jpg" alt="Sample Image" />
                </div>
                <button class="like-button" liked="false">
                    <span class="material-icons">thumb_up_off_alt</span>
                </button>
            </div>
        </div>
    </main>
</div>
{% endblock %}