{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<a href="/login" class="arrow">&#x2190; Login</a>
<div class="login-container">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" id="username" name="111" required>
            <!-- Place Holder for Sample data storing -->
            <!--  eg: <input type="text" id="username" name="111" required> -->
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="text" id="password" name="abc" required>
            <!-- Place Holder for Sample data storing -->
            <!--  eg: <input type="text" id="password" name="abc" required> -->
        </div>
        <div class="input-container">
            <label for="password">Re-enter password</label>
            <input type="text" id="password" name="abc" required>
            <!-- Place Holder for Sample data storing -->
            <!--  eg: <input type="text" id="password" name="abc" required> -->
        </div>
        <button type="submit" class="login-button">Register</button>
    </form>
</div>
{% endblock %}